<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Passwort ändern</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<style>
    body {
    background-color: #002a5c;
    }

    .headline {
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top: 20rem;
    }

    .test {
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    height: 60px;

    }

    </style>
<body>

    <img class="mischok-logo" src="mischoklogoneu.png">

    <h1 class="headline">Dein Passwort wurde erfolgreich geändert!</h1>

    <button type="button" class="test btn btn-success col-3">zum Login</button>

</body>
</html>