<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registrieren</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <style>
    body {
    background-color: #002a5c;
    }

    .headline {
    margin-top: 5rem;
    color: white;
    text-align: center;
    }

    .d-grid {
    margin-top: 2rem;
    }

    .mb-3 {
    margin-top: 2rem;
    text-align: center;
    margin: 0 auto;
    }

    .btn {
    text-align: center;
    margin: 0 auto;
    }

    </style>
</head>
<body>

    <img class="mischok-logo" src="mischoklogoneu.png">

    <h1 class="headline">Registrieren</h1>

<form>
        <div class="mb-3 col-3">
            <label for="exampleInputEmail1" class="text-white">Vorname</label>
            <input th:field="*{first_name}" type="text" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3 col-3">
            <label for="exampleInputPassword2" class="text-white">Nachname</label>
            <input th:field="*{last_name}" type="text" class="form-control" id="exampleInputPassword2">
        </div>
        <div class="mb-3 col-3">
            <label for="exampleInputPassword3" class="text-white">E-mail</label>
            <input th:field="*{email}" type="email" class="form-control" id="exampleInputPassword3" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 col-3">
            <label for="exampleInputPassword4" class="text-white">Passwort</label>
            <input th:field="*{password}" type="password" class="form-control" id="exampleInputPassword4">
        </div>
        <div class="mb-3 col-3">
            <label for="exampleInputPassword5" class="text-white">Passwort wiederholen</label>
            <input th:field="*{matchingPassword}" type="password" class="form-control" id="exampleInputPassword5">
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary col-4" type="button">Registrieren</button>
            <button class="btn btn-success col-4" type="button">zum Login</button>
        </div>

</form>
</body>
</html>